*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.formatoheader {
  /* display: flex;
  justify-content: space-between; */
  background-color: brown;
  img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }
  a:hover{
    color: white;
  }
} 
.navbar-nav {
  margin-left: 100px;
  gap: 100px;
}
.centrartitulo {
  margin: 20px 0px;
  text-align: center;
} 
.btn-primary {
  background-color: white;
  color: black;
}
.text-center {
  margin-top: 50px;
}